body{

}

.form-book-data{
    position: absolute;
    width:250px;
    left: 50%;
    top: 50%;
    margin-left: -140px;
    margin-top: -250px;
    padding:15px 20px;
    background:#f5f5f5;
    background-color: rgba(245, 245, 245, 0.95);
    border-radius: 10px;
}

.form-book-data input[type="submit"],
.form-book-data input[type="button"]{
    width: 170px;
    margin: 20px auto;
    padding: 5px 15px;
}